<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="TEST"/>
    <add key="GetIpUrl" value="https://api.ipify.org/?format=json"/>
    <add key="GetInfoUrl" value="http://ip-api.com/json/"/>
    <add key="PutLogUrl" value="???"/>
    <add key="TimeUpdate" value="1"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>